/* Terzo Styles for Index Page */

body {
    font-size: 200%;
}

h1 {
    /* border: 1px solid black;position: sticky; */
    top: 0;
    /* background-color: #c4f4ff;
    border-bottom: 2px solid grey;
    width: 100%;
    margin : 0;
    padding : 5px;
    box-shadow: 0 0 24px #000;
    background-image: linear-gradient(#fff, #fff, #fff, #ccc); */
}