body {
    font-size: 160%;
}

table, th, td {
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

h2, h3 {
    border-bottom: none;

}

pre {
    background-color: #f5f5f5;
    border: 1px solid #808080;
    padding: 8px 4px; 
}

img {
    width: 60%;
}



/* Handset */
@media all and (min-width: 0px) and (max-width: 480px) {

}

/* Tablet */
@media all and (min-width: 481px) and (max-width: 800px) {
    .columnar {
        column-count: 2;
    }

    .article_image {
        width: 50%;
    }
}

/* Desktop */
@media only screen and (min-width:801px) {
    .columnar {
        column-count: 2;
    }

    .article_image {
        width: 25%;
    }
}

@media print {
    .columnar {
        column-count: 2;
    }
}