{% extends 'base.html' %}

{% block head %}
<title>Shannon Douglas Ware - CV - Cirriculum Vitae</title>

{% endblock %}

{% block body %}

<p id="occupation">Cirriculum Vitae</p>
<p id="address">
    <span>Mobile: 083-441-0345 | photius@shannonware.com</span>
    <span>The Shop, Gerahies, Bantry, Co. Cork P75 AK37, Ireland</span>
    <span>https://www.shannonware.com</span>
    <!-- span>https://www.terzotechnical.com</span -->
    <span>https://github.com/spycebot/</span>
</p>
<p>Shannon has a demonstrated ability reduce cost while improving production service quality.</p>
<!-- p>Shannon has a deep knowledge of industry analytical tools and methods including open source (Python) integration with proprietary tools (Microsoft).</p -->
<h2>Skills</h2>
<section id="skills">
        <ul>
            <li>C#: 6-8, LINQ, Visual Studio, Git, CI/CD</li>
            <li>Python: JSON, Flask, Heroku, Hugging Face, Pandas</li>
            <li>JavaScript: JSON, Node.js, Angular, REACT, ES6</li>
            <li>SQL: Integrations, PostgreSQL, SQLite, SSMS</li>
            <li>XP, Code Profiling, Agile methodologies, OOP, High velocity IT</li>
            <li>Google: Cloud, Analytics, Workspaces, Android</li>
            <li>Linux: Lubuntu, CentOS, Debian, Node.js, VS Code for Linux</li>
            <li>Microsoft: RDP, Azure, Office, Excel, Word, Team, PowerPoint</li>
            <li>SQL Server 2022, SQL Server Management Studio, Office365</li>
            <li>OBS, Audacity, Davinci Resolve, PyAudio</li>
        </ul>
</section>
<h3>Projects</h3>

<p class="entry_headline">
    <span class="entry_title">Ventriloquist</span>
    <span class="entry_description">Personal Project - Bantry, Cork</span>
    <span class="entry_date">July 2024</span>
</p>
<ul>
    <li>Designed and built real time speech-to-text and text-to-speech application </li>
    <li>Utilized websockets for distributed blocking and on-blocking app behavior</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">StageMaster</span>
    <span class="entry_description">Personal Project - Bantry, Cork</span>
    <span class="entry_date">April 2024</span>
</p>
<ul>
    <li>Coded up text-to-speech AI voice synthesis app to serve as verbal sock puppets</li>
    <li>Made critical evaluation of text-to-speech technology and user interface blocking behavior</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">DoD / DF</span>
    <span class="entry_description">Fujitsu Project Management - Swords, Dublin</span>
    <span class="entry_date">April 2024</span>
</p>
<ul>
    <li>Engaged development team members to deliver tasks and milestones as agreed; made daily reports of incremental progress</li>
    <li>Created and enhanced detailed breakdown of project tasks across teams (functional and application)</li>
</ul>

<h3>Experience</h3>

<p class="entry_headline">
    <span class="entry_title">Principal</span>
    <span class="entry_description">Terzo Technical - Bantry, Cork</span>
    <span class="entry_date">June 2024-Present</span>
</p>
<ul>
    <li>Fulfilled VAT tax filing and compliance procedures; design, build and maintain technical knowledge base</li>
    <!-- li>Champion website accessibility and full stack web development</li -->
    <!-- li>Designed and developed Windows apps, including C# desktop front-end for PostgreSQL DB</li -->
    <li>Designed built and deployed Flask apps to Heroku for advertisement and lead generation</li>
    <li>Complete point of sale transactions with handheld payment device.</li>
    <li>Ensure customer goods maintain all required quality standards and specifications</li>
    <li>Assist end-users with online account merchant, banking, and e-government account configuration</li>
    <li>Conduct business continuity planning for small business customers; data recovery and device recovery</li>
</ul>


<p class="entry_headline">
    <span class="entry_title">Junior Service Architect</span>
    <span class="entry_description">Fujitsu Ireland - Swords, Dublin</span>
    <span class="entry_date">2022-May 2024</span>
</p>
<ul>
    <li>Warrant fit for purpose core service architecture and process documents for Oracle eBS</li>
    <li>Junior Project Manager: Drive production task estimation, allocation, and fulfilment follow-up</li>
    <li>Automate export and Excel manipulation of daily report data.</li>
    <li>Fulfil proactive communication facilitator role as a liaison between production teams and senior management</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">Technical Services Specialist</span>
    <span class="entry_description">Fujitsu Ireland - Swords, Dublin</span>
    <span class="entry_date">2017-Sep 2022</span>
</p>
<ul>
    <li>Delivered technical support proactively in a fast-paced production environment</li>
    <li>Tracked service levels and service performance in monthly and impromptu reporting</li>
    <li>Analyzed tabular data and query results to track shipping documentation, delayed or missing stock</li>
    <li>Designed and built Python apps to better manipulate system data, achieving reduction of costs from service downtime</li>
    <li>L2 Help Desk: Provided hands-on support; conducted customer issue root cause investigation; executed service delivery audit processes</li>
    <li>L3 Help Desk: Made accurate records of service performance for monthly reports</li>
    <li>Execute backend query, render results as meaningful data for data-driven decision making</li>
    <li>Review and validate plans for disaster recovery (data centre redundancy); proactive participation in fire drills</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">Customer Service and Business Data Technician</span>
    <span class="entry_description">Moravia IT s.r.o. - Cork, Ireland</span>
    <span class="entry_date">Nov 2015-Feb 2017</span>
</p>
<ul>
    <li>Articulated written justification of evaluation decision made according to continuously evolving criteria</li>
    <li>Exhibited energy and commitment to teamwork and workflow development</li>
    <li>Analyzed Apple Maps inbound dataset against Google Maps and Streetview, Bing Maps, Yandex and others</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">Japanese>English Translation Contractor</span>
    <span class="entry_description">Linguistic Systems, KJI Project Solutions, Transperfect Translations, Gongwell Services, and others</span>
    <span class="entry_date">2010-2015</span>
</p>
<ul>
    <li>Coordinated broad and in-depth analysis of Japanese language technical documents; made qualitative evaluation of translation products whether fit for delivery</li>
    <li>Worked under own initiative with extreme attention to detail (translation misses were onerous and carried a financial penalty)</li>
    <li>Implemented process improvements to accuracy in technical translation</li>
    <li>Designed and developed Python code to reduce cost in phonetic transcription</li>
    <li>Exhibited energy and commitment to teamwork and workflow development</li>
</ul>
</p>

<p class="entry_headline">
    <span class="entry_title">Siebel Test Contractor</span>
    <span class="entry_description">GSK Canada - Mississauga Ontario</span>
    <span class="entry_date">2008-2010</span>
</p>
<ul>
    <li>Conducted manual testing of successive builds of bespoke Siebel implementation</li>
    <li>Exemplified trustworthy and reliable company asset management</li>
    <li>Evaluated, tested and warranted successive Siebel builds as fit for purpose or not</li>
    <li>Act as SME for creation, verification and execution of automated test scripts</li>

</ul>

<p class="entry_headline">
    <span class="entry_title">Game Developer</span>
    <span class="entry_description">Visual Sports Systems - Concord, Ontario</span>
    <span class="entry_date">2007-2008</span>
<ul>
    <li>Lead custom video game project management and game asset development</li>
    <li>Achieved Unity/C# based custom system hardware configuration game development</li>

</ul>


<h3>Education</h3>

<p class="entry_headline">
    <span class="entry_title">Software Developer</span>
    <span class="entry_description">CENIT College - Naas, Kildare</span>
    <span class="entry_date">NOV 2024 - OCT
        2025</span>
<ul>
    <li>Software engineering best practice</li>
    <li>Visual Studio UI, features, limitations</li>
    <li>C# for windows desktop application development</li>
    <li>Data structure and algorithm optimization</li>
</ul>

<p class="entry_headline">
    <span class="entry_title">Ontario College Graduate Certificate, Digital Design - Game Design</span>
    <span class="entry_description">George Brown College – Toronto, Ontario</span>
    <span class="entry_date">2007</span>
<ul>
    <li>Protype game development (Virtools, Flash)</li>
    <li>In game mod asset development for real-time first-person shooter (Steam Source HL2)</li>
    <li>Boardgame design, concept development, product development and packaging</li>
    <li>Game design development - fundraising collateral</li>
    <li>Character design, concept development, wireframe animation and rendering</li>

</ul>

<p class="entry_headline">
    <span class="entry_title">Bachelor of Arts, Japanese Language and Literature</span>
    <span class="entry_description">University of Massachusetts, Amherst</span>
    <span class="entry_date">1996</span>
<ul>
    <li>Textual analysis of Japanese commercial and literary works</li>
    <li>Evaluation of frameworks for translation quality and accuracy</li>
    <li>Japanese language studies with an emphasis on research and translation (William Naff, Chisato Kitagawa).</li>

</ul>

<p class="entry_headline">
    <span class="entry_title">Monbusho (Former Japanese Ministry of Education) Fellowship Recipient</span>
    <span class="entry_description">University of Hokkaido – Sapporo, Japan</span>
    <span class="entry_date">1992</span>
<ul>
    <li>First had training in occupational Japanese in commercial environments</li>
    <li>In depth analysis of Japanese economic and cultural trends</li>
    <li>Japanese work environment teamwork exercises</li>
</ul>



<h3>Languages</h3>

<p>
    English: Native speaker, university graduate, copywriter
</p>
<p>
    Japanese: Fluent, proofreading, business correspondence
</p>
<p>
    German: A2 equivalent
</p>


{% endblock %}