{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block body %}

<img src="/static/shannon-ware-professional-avatar.png" role="avatar" id="avatar"/>
<h2 class="exo-terzo">Hire me!</h2>
    <p>Shannon has a demonstrated ability reduce cost while improving production service quality.</p>
    <p>Shannon has a deep knowledge of industry analytical tools and methods including open source (Python) integration with proprietary tools (Microsoft).</p>

<h3>Resume: Skills Based</h3>
<ul>
    <li><a href="/resume-sql">SQL Developer</a></li>
</ul>

<h3>Curriculum Vitae</h3>
<ul>
    <li><a href="/curriculum-vitae">Shannon Ware CV</a></li>
</ul>
<!-- h3>Portfolio</h3>
<ul>
    <li><a href="/portfolio">Data Analysis Portfolio</a></li>
</ul -->
<h3>Interview</h3>
<ul>
    <li><a href="/problems-solved">Problems Solved</a></li>
</ul>

<h3>Exam Prep</h3>
<ul>
    <li><a href="/one-page-trigonometry">One Page: Trigonometry</a></li>
    <li><a href="/one-page-csharp">One Page: C#</a></li>
    <li><a href="/one-page-javascript">One Page: JavaScript</a></li>
    <li><a href="/one-page-sql">One Page: SQL</a></li>
    <li><a href="/one-page-python">One Page: Python</a></li>
</ul>
<!-- h3>Resumes</h3>
<ul>
    <li><a href="/resume-support-engineer">Support Engineer</a></li>
    <li><a href="/resume-data-engineer">Data Engineer</a></li>
    <li><a href="/resume-full-stack-developer">Full Stack Developer</a></li>
    <li><a href="/resume-administrator">Administrator</a></li>
</ul>
<h3>Portfolio</h3>
<ul>
    <li><a href="/portfolio-data-engineer">Data Engineer</a></li>
</ul -->

<h3>Technical Writing</h3>
<ul>
    <li><a href="/articles/flask-heroku">Getting Started with Flask on Heroku</a></li>
</ul>

<h3>Article</h3>
<ul>
    <li><a href="/articles/analogue">Toward Analogue Design for the Digital Domain</a></li>
</ul>
{% endblock %}