{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">

{% endblock %}

{% block body %}

<section class="columnar">

    <h2>Python Overview</h2>

    <p>Python is a modern programming language useful in various fields of computer science including teaching, maths, data science, machine learning, so-called artificial intelligence, graphics, desktop application development, and cloud application development.</p>

    <h3>Language Features</h3>
    <ul>
        <li>Builtins are automatically imported</li>
    </ul>
    <h3>Style Guide</h3>

        <ul>
            <li>Four space tabs</li>
            <li>Two lines after a function</li>
            <li>Variable names with no capital letters</li>
        </ul>
    <h3>IDLE</h3>

    <h3>PyCharm</h3>

    <p>Show underlying function code: Right click > Go To > Declarations or Usages (F12)</p>

    <h3>Strings</h3>
        <p>C style placeholders</p>
    <pre>integer_value = 4237
print("Decimal integer %d more text" % integer_value) 
print("Hexadecimal integer %x\n" % integer_value)
print("Hexadecimal integer %X\n" % integer_value)
print("Right justify integer (%8d)" % integer_value)
print("Left justify integer (%-8d)\n" % integer_value)</pre>

    <p>f-Strings</p>

    <pre>print(f"Hello {fn} {ln} you are {age} years old!")</pre>

    <p>Splitting Strings</p>

        <pre>>>> my_string = "Shannon"
>>> my_letters = list(my_string)
['S', 'h', 'a', 'n', 'n', 'o', 'n']</pre>

    <h3>Objects</h3>

    <h3>Some Important Methods</h3>

    <pre>print("Hello", "World", sep="_", end="!")
die = random.randrange(1, 7)
integer = int(input("Enter and integer: "))
print("The integer is:", integer, "; the id is:", id(integer), "; the type is:", type(integer))</pre>



</section>

{% endblock %}