{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">

{% endblock %}

{% block body %}

<section class="columnar">
    <p>In the abstract, rest assured that a problem was solved.</p>

    <h2>JavaScript One Page</h2>
    <p>JavaScript operates. This one page presents points to bear in mind when entering a technical exam.</p>

    <h3>Concepts</h3>

    <p>
        let carName; // undefined <br />
        Variables defined with var are hoisted to the top, meaning you can use the variable before it is declared.<br />
        Use const when you declare:<br />
    </p>

    <ul>
        <li>A new Array</li>
        <li>A new Object</li>
        <li>A new Function</li>
        <li>A new RegExp</li>
    </ul>

    <p>
        Iterables must implement the Symbol.iterator method.
        String, Array, TypedArray, Map and Set are all iterables. 
        Their prototype objects have a Symbol.iterator method.
    </p>

    <h3>Methods</h3>

    <p>
        const myArray = text.split(" ", 3);<br />
        let result = text.slice(0, 5);<br />
        let result = text.substring(1, 4);<br />
        let result = text.substr(1, 4);<br />
        x.toString()<br />
        (123).toString()<br />
        (100 + 23).toString() <br />
        Number() 	Returns a number, converted from its argument <br />
        parseFloat() 	Parses a string and returns a floating point number <br />
        parseInt() 	Parses a string and returns an integer <br />
        typeof "John Doe"  <br />
        typeof (3 + 4)  <br />
    </p>



    <h3>Loops</h3>

    <pre>
    for (variable of iterable) {
        // code block to be executed
      } 
    </pre>
    <pre>
    const letters = new Set(["a","b","c"]);

    for (const x of letters) {
        // code block to be executed
    }

    <h3>DOM</h3>

    <p>
        document.getElementById("demo").innerHTML = "Hello JavaScript";<br />
        document.getElementById("demo").style.fontSize = "35px";<br />
        document.getElementById("demo").style.display = "none";<br />
    </p>
</section>

{% endblock %}