{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">

{% endblock %}

{% block body %}

<section class="columnar">

    <h2>Python Certification Exam Preparation</h2>

    <p>Problems encountered during test preparation.</p>

    <table>
        <tr>
            <td>
                
            </td>
            <td>
                Python 3.13.4 (tags/v3.13.4:8a526ec, Jun  3 2025, 17:46:04) [MSC v.1943 64 bit (AMD64)] on win32
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                Enter "help" below or click "Help" above for more information.
            </td>
        </tr>
        <tr>
            <td>
                >>>
            </td>
            <td>
                my_bool = False + 5 - True + 35//4
            </td>
        </tr>
        <tr>
            <td>
                >>>
            </td>
            <td>
                my_bool
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                12
            </td>
        </tr>
    </table>



</section>

{% endblock %}